/* [project]/src/app/globals.css [app-client] (css) */
@layer theme, base, components, utilities;

@layer theme {
  :root, :host {
    --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --spacing: .25rem;
    --text-lg: 1.125rem;
    --text-lg--line-height: calc(1.75 / 1.125);
    --text-xl: 1.25rem;
    --text-xl--line-height: calc(1.75 / 1.25);
    --text-2xl: 1.5rem;
    --text-2xl--line-height: calc(2 / 1.5);
    --text-5xl: 3rem;
    --text-5xl--line-height: 1;
    --text-7xl: 4.5rem;
    --text-7xl--line-height: 1;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --default-font-family: var(--font-sans);
    --default-font-feature-settings: var(--font-sans--font-feature-settings);
    --default-font-variation-settings: var(--font-sans--font-variation-settings);
    --default-mono-font-family: var(--font-mono);
    --default-mono-font-feature-settings: var(--font-mono--font-feature-settings);
    --default-mono-font-variation-settings: var(--font-mono--font-variation-settings);
  }
}

@layer base {
  *, :after, :before, ::backdrop, ::file-selector-button {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0 solid;
  }

  html, :host {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
    font-feature-settings: var(--default-font-feature-settings, normal);
    font-variation-settings: var(--default-font-variation-settings, normal);
    -webkit-tap-highlight-color: transparent;
  }

  body {
    line-height: inherit;
  }

  hr {
    height: 0;
    color: inherit;
    border-top-width: 1px;
  }

  abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
  }

  a {
    color: inherit;
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
  }

  b, strong {
    font-weight: bolder;
  }

  code, kbd, samp, pre {
    font-family: var(--default-mono-font-family, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace);
    font-feature-settings: var(--default-mono-font-feature-settings, normal);
    font-variation-settings: var(--default-mono-font-variation-settings, normal);
    font-size: 1em;
  }

  small {
    font-size: 80%;
  }

  sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sub {
    bottom: -.25em;
  }

  sup {
    top: -.5em;
  }

  table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
  }

  :-moz-focusring {
    outline: auto;
  }

  progress {
    vertical-align: baseline;
  }

  summary {
    display: list-item;
  }

  ol, ul, menu {
    list-style: none;
  }

  img, svg, video, canvas, audio, iframe, embed, object {
    display: block;
    vertical-align: middle;
  }

  img, video {
    max-width: 100%;
    height: auto;
  }

  button, input, select, optgroup, textarea, ::file-selector-button {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    border-radius: 0;
    background-color: #0000;
    opacity: 1;
  }

  :where(select:is([multiple], [size])) optgroup {
    font-weight: bolder;
  }

  :where(select:is([multiple], [size])) optgroup option {
    padding-inline-start: 20px;
  }

  ::file-selector-button {
    margin-inline-end: 4px;
  }

  ::placeholder {
    opacity: 1;
    color: color-mix(in oklab, currentColor 50%, transparent);
  }

  textarea {
    resize: vertical;
  }

  ::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  ::-webkit-date-and-time-value {
    min-height: 1lh;
    text-align: inherit;
  }

  ::-webkit-datetime-edit {
    display: inline-flex;
  }

  ::-webkit-datetime-edit-fields-wrapper {
    padding: 0;
  }

  ::-webkit-datetime-edit, ::-webkit-datetime-edit-year-field, ::-webkit-datetime-edit-month-field, ::-webkit-datetime-edit-day-field, ::-webkit-datetime-edit-hour-field, ::-webkit-datetime-edit-minute-field, ::-webkit-datetime-edit-second-field, ::-webkit-datetime-edit-millisecond-field, ::-webkit-datetime-edit-meridiem-field {
    padding-block: 0;
  }

  :-moz-ui-invalid {
    box-shadow: none;
  }

  button, input:where([type="button"], [type="reset"], [type="submit"]), ::file-selector-button {
    appearance: button;
  }

  ::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
    height: auto;
  }

  [hidden]:where(:not([hidden="until-found"])) {
    display: none !important;
  }
}

@layer utilities {
  .absolute {
    position: absolute;
  }

  .relative {
    position: relative;
  }

  .top-1 {
    top: calc(var(--spacing) * 1);
  }

  .top-2 {
    top: calc(var(--spacing) * 2);
  }

  .top-4 {
    top: calc(var(--spacing) * 4);
  }

  .top-5 {
    top: calc(var(--spacing) * 5);
  }

  .top-10 {
    top: calc(var(--spacing) * 10);
  }

  .top-11 {
    top: calc(var(--spacing) * 11);
  }

  .top-12 {
    top: calc(var(--spacing) * 12);
  }

  .top-13 {
    top: calc(var(--spacing) * 13);
  }

  .top-14 {
    top: calc(var(--spacing) * 14);
  }

  .top-15 {
    top: calc(var(--spacing) * 15);
  }

  .top-16 {
    top: calc(var(--spacing) * 16);
  }

  .top-17 {
    top: calc(var(--spacing) * 17);
  }

  .top-18 {
    top: calc(var(--spacing) * 18);
  }

  .top-19 {
    top: calc(var(--spacing) * 19);
  }

  .top-20 {
    top: calc(var(--spacing) * 20);
  }

  .top-21 {
    top: calc(var(--spacing) * 21);
  }

  .top-22 {
    top: calc(var(--spacing) * 22);
  }

  .top-23 {
    top: calc(var(--spacing) * 23);
  }

  .top-24 {
    top: calc(var(--spacing) * 24);
  }

  .top-25 {
    top: calc(var(--spacing) * 25);
  }

  .top-32 {
    top: calc(var(--spacing) * 32);
  }

  .top-33 {
    top: calc(var(--spacing) * 33);
  }

  .top-34 {
    top: calc(var(--spacing) * 34);
  }

  .top-36 {
    top: calc(var(--spacing) * 36);
  }

  .top-45 {
    top: calc(var(--spacing) * 45);
  }

  .top-62 {
    top: calc(var(--spacing) * 62);
  }

  .top-90 {
    top: calc(var(--spacing) * 90);
  }

  .top-162 {
    top: calc(var(--spacing) * 162);
  }

  .top-\[15px\] {
    top: 15px;
  }

  .top-\[16px\] {
    top: 16px;
  }

  .top-\[20px\] {
    top: 20px;
  }

  .top-\[26px\] {
    top: 26px;
  }

  .bottom-7 {
    bottom: calc(var(--spacing) * 7);
  }

  .bottom-8 {
    bottom: calc(var(--spacing) * 8);
  }

  .bottom-9 {
    bottom: calc(var(--spacing) * 9);
  }

  .left-1\.5 {
    left: calc(var(--spacing) * 1.5);
  }

  .left-5 {
    left: calc(var(--spacing) * 5);
  }

  .left-8 {
    left: calc(var(--spacing) * 8);
  }

  .left-9 {
    left: calc(var(--spacing) * 9);
  }

  .left-13 {
    left: calc(var(--spacing) * 13);
  }

  .left-20 {
    left: calc(var(--spacing) * 20);
  }

  .left-45 {
    left: calc(var(--spacing) * 45);
  }

  .left-54 {
    left: calc(var(--spacing) * 54);
  }

  .left-103 {
    left: calc(var(--spacing) * 103);
  }

  .left-152 {
    left: calc(var(--spacing) * 152);
  }

  .left-201 {
    left: calc(var(--spacing) * 201);
  }

  .left-250 {
    left: calc(var(--spacing) * 250);
  }

  .left-299 {
    left: calc(var(--spacing) * 299);
  }

  .left-380 {
    left: calc(var(--spacing) * 380);
  }

  .left-398 {
    left: calc(var(--spacing) * 398);
  }

  .left-\[-6\] {
    left: -6px;
  }

  .left-\[-15px\] {
    left: -15px;
  }

  .left-\[-16px\] {
    left: -16px;
  }

  .left-\[35px\] {
    left: 35px;
  }

  .left-\[65px\] {
    left: 65px;
  }

  .left-\[80px\] {
    left: 80px;
  }

  .left-\[90px\] {
    left: 90px;
  }

  .left-\[170px\] {
    left: 170px;
  }

  .mt-4 {
    margin-top: calc(var(--spacing) * 4);
  }

  .mt-5 {
    margin-top: calc(var(--spacing) * 5);
  }

  .mt-23 {
    margin-top: calc(var(--spacing) * 23);
  }

  .mr-3\.5 {
    margin-right: calc(var(--spacing) * 3.5);
  }

  .ml-2 {
    margin-left: calc(var(--spacing) * 2);
  }

  .ml-3 {
    margin-left: calc(var(--spacing) * 3);
  }

  .ml-3\.5 {
    margin-left: calc(var(--spacing) * 3.5);
  }

  .ml-30 {
    margin-left: calc(var(--spacing) * 30);
  }

  .flex {
    display: flex;
  }

  .h-6 {
    height: calc(var(--spacing) * 6);
  }

  .h-8 {
    height: calc(var(--spacing) * 8);
  }

  .h-10 {
    height: calc(var(--spacing) * 10);
  }

  .h-13 {
    height: calc(var(--spacing) * 13);
  }

  .h-20 {
    height: calc(var(--spacing) * 20);
  }

  .h-50 {
    height: calc(var(--spacing) * 50);
  }

  .h-70 {
    height: calc(var(--spacing) * 70);
  }

  .h-95 {
    height: calc(var(--spacing) * 95);
  }

  .h-99 {
    height: calc(var(--spacing) * 99);
  }

  .h-\[22px\] {
    height: 22px;
  }

  .h-\[30px\] {
    height: 30px;
  }

  .h-\[40px\] {
    height: 40px;
  }

  .h-\[47px\] {
    height: 47px;
  }

  .h-\[50px\] {
    height: 50px;
  }

  .h-\[60px\] {
    height: 60px;
  }

  .h-\[244px\] {
    height: 244px;
  }

  .h-\[537px\] {
    height: 537px;
  }

  .h-screen {
    height: 100vh;
  }

  .w-6 {
    width: calc(var(--spacing) * 6);
  }

  .w-7 {
    width: calc(var(--spacing) * 7);
  }

  .w-8 {
    width: calc(var(--spacing) * 8);
  }

  .w-9 {
    width: calc(var(--spacing) * 9);
  }

  .w-10 {
    width: calc(var(--spacing) * 10);
  }

  .w-45 {
    width: calc(var(--spacing) * 45);
  }

  .w-52 {
    width: calc(var(--spacing) * 52);
  }

  .w-95 {
    width: calc(var(--spacing) * 95);
  }

  .w-342 {
    width: calc(var(--spacing) * 342);
  }

  .w-\[21px\] {
    width: 21px;
  }

  .w-\[30px\] {
    width: 30px;
  }

  .w-\[40px\] {
    width: 40px;
  }

  .w-\[50px\] {
    width: 50px;
  }

  .w-\[60px\] {
    width: 60px;
  }

  .w-\[85px\] {
    width: 85px;
  }

  .w-\[100px\] {
    width: 100px;
  }

  .w-\[111px\] {
    width: 111px;
  }

  .w-\[196px\] {
    width: 196px;
  }

  .w-\[270px\] {
    width: 270px;
  }

  .w-\[290px\] {
    width: 290px;
  }

  .w-full {
    width: 100%;
  }

  .transform {
    transform: var(--tw-rotate-x) var(--tw-rotate-y) var(--tw-rotate-z) var(--tw-skew-x) var(--tw-skew-y);
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .flex-col {
    flex-direction: column;
  }

  .items-center {
    align-items: center;
  }

  .items-start {
    align-items: flex-start;
  }

  .justify-center {
    justify-content: center;
  }

  .rounded-\[20px\] {
    border-radius: 20px;
  }

  .rounded-\[40px\] {
    border-radius: 40px;
  }

  .rounded-full {
    border-radius: 3.40282e38px;
  }

  .bg-\[\#DEAB4D\] {
    background-color: #deab4d;
  }

  .text-2xl {
    font-size: var(--text-2xl);
    line-height: var(--tw-leading, var(--text-2xl--line-height));
  }

  .text-5xl {
    font-size: var(--text-5xl);
    line-height: var(--tw-leading, var(--text-5xl--line-height));
  }

  .text-7xl {
    font-size: var(--text-7xl);
    line-height: var(--tw-leading, var(--text-7xl--line-height));
  }

  .text-lg {
    font-size: var(--text-lg);
    line-height: var(--tw-leading, var(--text-lg--line-height));
  }

  .text-xl {
    font-size: var(--text-xl);
    line-height: var(--tw-leading, var(--text-xl--line-height));
  }

  .text-\[14px\] {
    font-size: 14px;
  }

  .text-\[16px\] {
    font-size: 16px;
  }

  .font-bold {
    --tw-font-weight: var(--font-weight-bold);
    font-weight: var(--font-weight-bold);
  }

  .font-extrabold {
    --tw-font-weight: var(--font-weight-extrabold);
    font-weight: var(--font-weight-extrabold);
  }

  .font-semibold {
    --tw-font-weight: var(--font-weight-semibold);
    font-weight: var(--font-weight-semibold);
  }

  .opacity-\[60\%\] {
    opacity: .6;
  }

  .opacity-\[80\%\] {
    opacity: .8;
  }

  @media (hover: hover) {
    .hover\:w-65:hover {
      width: calc(var(--spacing) * 65);
    }
  }

  @media (hover: hover) {
    .hover\:bg-\[\#e0be7f\]:hover {
      background-color: #e0be7f;
    }
  }

  @media (hover: hover) {
    .hover\:bg-\[\#f7cd81\]:hover {
      background-color: #f7cd81;
    }
  }
}

:root {
  --background: #fff;
  --foreground: #171717;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #d69e36;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@property --tw-rotate-x {
  syntax: "*";
  inherits: false;
  initial-value: rotateX(0);
}

@property --tw-rotate-y {
  syntax: "*";
  inherits: false;
  initial-value: rotateY(0);
}

@property --tw-rotate-z {
  syntax: "*";
  inherits: false;
  initial-value: rotateZ(0);
}

@property --tw-skew-x {
  syntax: "*";
  inherits: false;
  initial-value: skewX(0);
}

@property --tw-skew-y {
  syntax: "*";
  inherits: false;
  initial-value: skewY(0);
}

@property --tw-font-weight {
  syntax: "*";
  inherits: false
}

/*# sourceMappingURL=src_app_globals_b52d8e88.css.map*/